$accent: #0C3C33;
$text: #444444;

%Roboto-300 {
    font-family: 'Roboto-Light', sans-serif;
    font-weight: 300;
}

%Roboto-400 {
    font-family: 'Roboto-Regular', sans-serif;
    font-weight: 400;
}

%Roboto-700 {
    font-family: 'Roboto-Bold', sans-serif;
    font-weight: 700;
}